            body{
                background-image: url(../images/bg.jpg);
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }

	        .la{
	            display: none;
	        }

	        .progress,.progress1,.progress2{
	            height: .2vw;
	            width: 0%;
	            transition: all 1s ease;
	        }

	        .wi{
	            width: 100%;
	            background-color: green;
	        }

	        h1,h2,body{
	                margin: 0px;
	                padding: 0px;
	                font-family: 'Open Sans', sans-serif;
	            }

            .hidden1,.hidden2,.hidden{
            	font-size: 2vw;
            }

            .wrap{
                width: 50%;
                display: none;
                text-align: center;
                background-color: rgba(255,255,255,.38);
                margin: 4vw auto;
                overflow: hidden;
            }

            .in{
                margin: 2vw auto;
                width: 80%;
                text-align: left;
                overflow:hidden;
            }

            .intehead{
            	font-size: 2vw;
            	margin-bottom: .5vw;
            }

            .inte{
            	font-size:1.8vw;
            	margin-right: 2.5vw;
                display: inline-block;
            }

            #name,#pass,#mail{
                width: 100%;
                border:0px;
                font-size: 1.5vw;
                margin-top: .2vw;
                border-bottom: .1vw #2d2d2d solid;
                padding: .5vw 1vw; 
            }

            input:focus{
                outline: none;
                background-color: rgba(45,45,45,.1);
            }

            .ai{
            	width: 100%;
            	background-color: red;
            }

            .gl{
            	font-size: 1.5vw;
            	width: 30%;
            	padding-top: .5vw;
            	padding-bottom: .5vw;
            	border: 0px;
            	margin-top: 1vw;
            	margin-bottom: 1vw;
            	color: white;
            	background-color: #4CAF50;
            }

            a{
                text-decoration: none;
                color: #2d2d2d;
            }

            .already{
                float: right;
                font-size: 1.4vw;
                padding-right: 1vw;
                margin-bottom: .3vw;
            }